
@{
    ViewBag.Title = "Index";
}

@section headerScripts{
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="~/Scripts/app/graphs.min.js"></script>
}
<h2>Charts</h2>

<div id="chart_div"></div>
